.header{
    background-color:#85D4B7 ;
   
}

.logo{
    display: block;
    height: 50px;
	padding-top: 7px;
	padding-left: 14px;
    max-width: 100%;
	max-height: 300px;
	padding-bottom: 5px;
}
.image_carrusel{
	height:  600px;
	width: 100%;
}

.texnav2{
color: black;
}
.fondo_foto{
    background-color: #000000a2
}

.fondo_iconos{
    background-color: #6DCCAA;
    
	padding-top: 40px;
	padding-bottom: 40px;
align-content: center	
}

.barraicon{
    margin-top: 20px;
   text-align: center;
}
.iconografia li {
    display: inline;
  
   
  }
.colorici{
    color: white;
}  
  .centrar{
      display: block
  }

  .foto_info{
    margin-left: auto;
    margin-right: auto;
    
    max-width: 100%;
    max-height: 350px;
    margin-top:10px;
    margin-bottom: 60px;

}

.info{

    margin-left:70px;
    margin-right:70px;

}
.foncoFooter{
    background-color:#33ffad;
    padding-top: 15px;
	padding-left: 40%;
	color: black;
}

/* formulario login */

.fromlog{
background-color : #6DCCAA;

}

/* Validaciones */
.error-control {
    border: 1px solid red;
  }
  
  label.error {
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .titulosva
  {
      background-color: deepskyblue;
      
  }
  .formulario{
      text-align: center;
      margin-top: 20px;
      border-block-end: 20px
  }

  .rut-error{
    color: red;
    width: 300px;
    font-size: 0.8em;
    margin-top: -5px;
    margin-bottom: 10px;
}